/*** CSS RESET (source: https://piccalil.li/blog/a-modern-css-reset/) ***/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*** CSS CUSTOM PROPERTIES ***/
:root {
  /* card sections */
  --clr-orange: hsl(31, 77%, 52%);
  --clr-cyan: hsl(184, 100%, 22%);
  --clr-dark-cyan: hsl(179, 100%, 13%);
  /* paragraphs */
  --clr-white: hsla(0, 0%, 100%);
  /* background, headings, buttons */
  --clr-gray: hsl(0, 0%, 95%);
}

/*** GLOBAL ***/
body {
  background-color: var(--clr-gray);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem; /* 15px */
  font-weight: 400;
  color: var(--clr-white);
  line-height: 1.5625rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5.5rem 1.5rem;
}

.section-icon {
  max-height: 2.5rem;
  object-fit: contain;
}

/* Removes the element from the page flow and hides the content to the left of the visible browser window. Readable by screen readers. */
.sr-only {
  position: absolute;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/*** TYPOGRAPHY ***/
.section-heading {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--clr-gray);
  line-height: 3rem;
  text-transform: uppercase;
  margin-top: 2.1875rem; /* 35px */
}

.section-body-text {
  margin-top: 1.5625rem; /* 25px */
  margin-bottom: 1.5625rem; /* 25px */
  opacity: 0.75;
}

/*** BUTTONS ***/
.btn {
  background-color: var(--clr-gray);
  text-decoration: none;
  text-align: center;
  padding: 0.75rem 2rem;
  border-radius: 1.5625rem; /* 25px */
  cursor: pointer;
  margin-top: auto;
  border: 2px solid transparent;
  transition: all 0.3s ease-out;
}

.btn:hover,
.btn:focus {
  background-color: inherit;
  color: var(--clr-gray);
  border: 2px solid var(--clr-gray);
}

.btn-bright-orange {
  color: var(--clr-orange);
}

.btn-d-cyan {
  color: var(--clr-cyan);
}

.btn-v-d-cyan {
  color: var(--clr-dark-cyan);
}

/*** LAYOUT ***/
.container {
  overflow: hidden;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.card-section {
  max-width: 20.4375rem; /* 327px */
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-sedan {
  background-color: var(--clr-orange);
}

.section-suvs {
  background-color: var(--clr-cyan);
}

.section-luxury {
  background-color: var(--clr-dark-cyan);
}

/*** MEDIA QUERIES ***/
@media (min-width: 53.125rem) {
  /* Typography */
  .section-body-text {
    margin-bottom: 5.1875rem;
  }
  /* Layout */
  .container {
    flex-direction: row;
  }
  .card-section {
    max-width: 19.1875rem;
  }
}
